[submodule "SophisticatedStorage"]
	path = SophisticatedStorage
	url = https://github.com/zzzowoey/SophisticatedStorage.git
	branch = 1.20.1-fabric-dev
[submodule "SophisticatedBackpacks"]
	path = SophisticatedBackpacks
	url = https://github.com/zzzowoey/SophisticatedBackpacks.git
	branch = 1.20.1-fabric-dev
[submodule "SophisticatedCore"]
	path = SophisticatedCore
	url = https://github.com/zzzowoey/SophisticatedCore.git
	branch = 1.20.1-fabric-dev
