[submodule "SophisticatedStorage"]
	path = SophisticatedStorage
	url = https://github.com/Salandora/SophisticatedStorage.git
	branch = 1.19.x-fabric-dev
[submodule "SophisticatedBackpacks"]
	path = SophisticatedBackpacks
	url = https://github.com/Salandora/SophisticatedBackpacks.git
	branch = 1.19.x-fabric-dev
[submodule "SophisticatedCore"]
	path = SophisticatedCore
	url = https://github.com/Salandora/SophisticatedCore.git
	branch = 1.19.x-fabric-dev
